footer{
    background-color: rgb(43, 43, 41);
	  height: 100%;
	  margin-bottom: 0px;
    overflow: hidden;
    color:rgb(241, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1))
    
}
.social-icons a{
    
   vertical-align: b;
    font-size: medium;
}
.align-items-center{
	height:100%;
}

a {
    text-decoration: none ;
}



.icons:hover{
    color: rgb(18, 193, 237);
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: black;
    color: white;
    
  }
  .fa-envelope{
    background: black;
    color: white;
  }

  .col-md-6 {
      text-align: center;
      opacity: 0.8;
    
      
  }

  
  

  
 
  